@tailwind base;
@tailwind components;
@tailwind utilities;


.text-stroke{
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}

input::placeholder {
    color: black; /* Change the placeholder text color to red */
}